:root {
    --clr-primary-400:gray;

    --clr-secondary-400:blue;

    --clr-neutral-100:hsl(0,0,100%);

    --ff-primary:"Montserrat", sans-serif;

    --ff-logo:'Times New Roman', Times, serif;

    
    --fs-300:.8rem;
    --fs-400:1rem;
    --fs-500:1.2rem;
    --fs-700:2rem;

    --fs-nav:var(--fs-400);


    --fw-light:300;
    --fw-regular:400;
    --fw-bold:700;
    --fw-black:900;
}