@charset "UTF-8";
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*  11. Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

:root {
  --clr-primary-hsl-400-t: hsl(252, 100%, 67%);
  --clr-primary-hsl-500-t: hsl(256, 72%, 46%);
  --clr-secondary-hsl-400-t: hsl(241, 81%, 54%);
  --clr-secondary-hsl-500-t: hsl(241, 72%, 46%);
  --clr-neutral-hsl-100-t: hsl(0, 0%, 100%);
  --clr-neutral-hsl-200-t: hsl(221, 100%, 96%);
  --clr-neutral-hsl-300-t: hsl(241, 100%, 89%);
  --clr-neutral-hsl-700-t: hsl(224, 30%, 27%);
  --clr-primary-hsl-400: 252, 100%, 67%;
  --clr-primary-hsl-500: 256, 72%, 46%;
  --clr-secondary-hsl-400: 241, 81%, 54%;
  --clr-secondary-hsl-500: 241, 72%, 46%;
  --clr-neutral-hsl-100: 0, 0%, 100%;
  --clr-neutral-hsl-200: 221, 100%, 96%;
  --clr-neutral-hsl-300: 241, 100%, 89%;
  --clr-neutral-hsl-700: 224, 30%, 27%;
  --clr-primary-400: hsl(var(--clr-primary-hsl-400));
  --clr-primary-500: hsla(var(--clr-primary-hsl-500));
  --clr-secondary-400: hsl(var(--clr-secondary-hsl-400));
  --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
  --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));
  --clr-neutral-300: hsl(var(--clr-neutral-hsl-300));
  --clr-neutral-700: hsl(var(--clr-neutral-hsl-700));
  --gradient-primary: linear-gradient( var(--clr-primary-400), var(--clr-secondary-400));
  --gradient-to-transparent: linear-gradient( var(--clr-primary-500), hsl(var(--clr-secondary-hsl-500), 0));
  --clr-accent-1: 0, 100%, 67%;
  --clr-accent-2: 39, 100%, 56%;
  --clr-accent-3: 166, 100%, 37%;
  --clr-accent-4: 234, 85%, 45%;
  --ff-primary: "Inter", sans-serif;
  --ff-event: "Anton", sans-serif;
  --ff-seconday:"Montserrat", sans-serif;
  --ff-logo:"Times New Roman", Times, serif;
  --fw-event: 400;
  --fw-regular: 400;
  --fs-semibold:600;
  --fw-bold: 700;
  --fw-black: 800;
  --font-style-Anton: "normal";
  --fs-100: 0.6rem;
  --fs-200: 0.850rem;
  --fs-300: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;
  --fs-900: 3.5rem;
  --fs-nav:var(--fs-400);
  --fw-light:300;
  --fw-regular:400;
  --fw-bold:700;
  --fw-black:900;
}
@media (min-width: 600px) {
  :root {
    --fs-400:var(--fs-500);
  }
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
}

/* ie9+ */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  --max-width: 1110px;
  --container-padding: 1rem;
  width: min(var(--max-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

.flow :not(:first-child) {
  margin-top: var(--flow-spacer, 2em);
}

.section-mb {
  margin-block: var(--section-spacer, 5rem);
}

.grid-group {
  display: grid;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 900px) {
  .flex-group {
    flex-wrap: initial;
  }
}

.odd-para-translate-x ~ p:nth-child(odd) {
  transform: translateX(25px);
  overflow: hidden;
  max-width: 90%;
}

.para-vertical-filler ~ p:nth-child(even) {
  padding: 5px 5px 5px 25px;
  border-radius: 5px;
  border-left: 5px solid blue;
  box-shadow: 0 0 15px 0 hsla(0, 5%, 89%, 0.403);
}
.para-vertical-filler ~ p:nth-child(odd) {
  padding-right: 25px;
  border-radius: 5px;
  border-right: 5px solid blue;
}

.para-vertical-filler-tranlate ~ p {
  padding: 5px 5px 5px 25px;
  border-radius: 5px;
  border-left: 5px solid blue;
  box-shadow: 0 0 15px 0 hsla(0, 5%, 89%, 0.403);
  max-width: 90%;
}
.para-vertical-filler-tranlate ~ p:nth-child(odd) {
  transform: translateX(24px);
}

.logo {
  font-family: var(--ff-logo);
  padding: 0.5rem;
  margin: 1rem;
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}
.logo img {
  width: 100%;
  aspect-ratio: 1;
}
.logo .name {
  font-size: 0.8rem;
  line-height: 0.8;
  transform: translateY(0.9rem);
}
.logo .name p {
  display: block;
  color: green;
  margin-left: -5px;
  letter-spacing: 3px;
  text-shadow: 1.5px 0 2px gray;
}
.logo .name p span {
  font-weight: bold;
  color: blue;
  padding: 0.2rem;
}
.logo .name :first-child {
  transform: translateX(0.5rem);
}
.logo .name :last-child {
  transform: translateX(0.3rem);
}

.logo-italic {
  font-family: var(--ff-logo);
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin: 1rem 1rem 1rem 0;
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}
.logo-italic img {
  width: 100%;
  aspect-ratio: 1;
}
.logo-italic .name {
  font-size: 0.8rem;
  line-height: 0.8;
  transform: translateY(0.9rem);
}
.logo-italic .name p {
  display: block;
  color: green;
  margin-left: -5px;
  letter-spacing: 0;
  text-shadow: 1.5px 0 2px gray;
}
.logo-italic .name p span {
  font-weight: bold;
  color: blue;
  padding: 0.2rem;
  font-style: italic;
}
.logo-italic .name :first-child {
  transform: translateX(0.5rem);
}
.logo-italic .name :last-child {
  transform: translateX(0.3rem);
}

.logo-italic-footer {
  font-family: var(--ff-logo);
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin: 1rem 1rem 1rem 0;
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 5px;
}
.logo-italic-footer img {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
}
.logo-italic-footer .name {
  font-size: 0.8rem;
  line-height: 0.8;
  transform: translateY(0.9rem);
}
.logo-italic-footer .name p {
  display: block;
  color: white;
  margin-left: -5px;
  letter-spacing: 0;
}
.logo-italic-footer .name p span {
  font-weight: bold;
  color: white;
  padding: 0.2rem;
  font-style: italic;
}
.logo-italic-footer .name :first-child {
  transform: translateX(0.5rem);
}
.logo-italic-footer .name :last-child {
  transform: translateX(0.3rem);
}

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.mobile-nav-toggle .line {
  width: 100%;
  height: 0.01rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.2s; /*To animage while change from menu to close and vice versa*/
}
.mobile-nav-toggle .line-1 {
  width: 70%;
  align-self: end;
}
.mobile-nav-toggle .line-3 {
  width: 70%;
  align-self: end;
}
.mobile-nav-toggle .change .hamburger-menu {
  right: 38rem;
}
.mobile-nav-toggle .change .line-1 {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
}
.mobile-nav-toggle .change .line-2 {
  opacity: 0;
  visibility: hidden;
}
.mobile-nav-toggle .change .line-3 {
  transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  display: flex;
  gap: 1rem;
  font-weight: 500;
  font-size: var(--fs-nav);
}

.nav-list a {
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--clr-primary-400);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
}

@media (max-width: 50em) {
  .primary-header {
    position: relative;
  }
}

.primary-navigation {
  z-index: 999;
}
@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    position: absolute;
    padding: 5rem;
    inset: 7rem 0rem auto;
    max-width: 25rem;
    margin-left: auto;
    background: var(--clr-neutral-100);
    border-radius: 10px;
    box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.05);
  }
  .primary-navigation .nav-list {
    display: grid;
    gap: 1rem;
    text-align: center;
    font-weight: var(--fw-bold);
  }
}

@media (max-width: 50em) {
  .primary-navigation[data-visible] {
    display: block;
  }
}

@media (max-width: 50em) {
  .mobile-nav-toggle {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    background: transparent;
    padding: 0.5em;
    border: 1px solid red;
  }
  .mobile-nav-toggle .line {
    display: block;
  }
  .mobile-nav-toggle .line-1 {
    display: block;
    background-color: green;
    align-self: end;
  }
  .mobile-nav-toggle .line-2 {
    display: block;
    background-color: yellow;
    align-self: end;
    z-index: 100;
  }
  .mobile-nav-toggle .line-3 {
    display: block;
    background-color: purple;
    align-self: end;
    z-index: 100;
  }
}

.button {
  width: 25rem;
  height: 7rem;
  background-color: #6e8aa7; /*#c29525;*/
  border: none;
  font-family: "Muli", sans-serif;
  font-size: 2rem;
  color: #fff;
  /*text-shadow: 0.2rem .4rem rgba(0, 0, 0, .2);*/
  box-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
}

a.filled-button, button.filled-button {
  background-color: #4d88ff;
  color: #fff;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 700;
  padding: 7px 30px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  min-width: 10rem;
}

a.filled-button:hover, button.filled-button:hover {
  /* background-color: #fff;
  color: #4d88ff; */
  background-color: #8aa1cf;
}

a.border-button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 28px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s;
  text-decoration: none;
}

a.border-button:hover {
  background-color: #fff;
  color: #4d88ff;
}

.hero.grid-group {
  grid-template-columns: 1fr;
  gap: 0.5rem;
}
.hero .brocher {
  position: relative;
  display: inline-block;
}
.hero .brocher::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to top, hsl(235, 62%, 73%) 40%, hsla(235, 62%, 73%, 0.07) 50%);
  opacity: 0.7;
  pointer-events: none; /* optional: so it doesn’t interfere with clicks */
}
@media (min-width: 900px) {
  .hero .brocher::after {
    background: linear-gradient(to right, hsl(235, 62%, 73%) 40%, hsla(235, 62%, 73%, 0.07) 50%);
  }
}
.hero .brocher h1 {
  position: absolute;
  left: 10px;
  bottom: 20px;
  color: white;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 30ch;
  z-index: 2;
}
@media (min-width: 600px) {
  .hero .brocher h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 800px) {
  .hero .brocher h1 {
    font-size: 3.5rem;
  }
}

footer {
  margin-top: 5rem;
  padding-block: 1rem;
  background: #151414;
}
footer .footer-section {
  background: #151414;
  position: relative;
  font-size: 14px;
  padding-block: 5rem;
}
footer .footer-section .container {
  padding-block: 2rem;
}
footer .footer-cta {
  border-bottom: 1px solid #373636;
  margin: 0 auto;
  width: 80%;
}
footer .single-cta i {
  /*color: #ff5e14;*/
  color: #1b6ec2;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
footer .cta-text {
  padding-left: 15px;
  display: inline-block;
}
footer .cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  padding: 1rem 1rem 1rem 0 !important;
}
footer .cta-text span {
  color: #757575;
  font-size: 15px;
  font-weight: normal !important;
}
footer .footer-content {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 80%;
}
footer .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
footer .footer-logo {
  margin-bottom: 30px;
}
footer .footer-logo img {
  max-width: 200px;
}
footer .footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
footer .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
footer .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
footer .footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
footer .facebook-bg {
  background: #3B5998;
}
footer .youtube-bg {
  background: #db1010;
}
footer .twitter-bg {
  background: #55ACEE;
}
footer .google-bg {
  background: #DD4B39;
}
footer .footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  text-transform: capitalize;
  padding: 1rem 1rem 0 0 !important;
}
footer .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  /*background: #ff5e14;*/
  background: #1b6ec2;
}
footer .footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
footer .footer-widget ul li a:hover {
  color: #1b6ec2;
}
footer .footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline !important;
}
footer .subscribe-form {
  position: relative;
  overflow: hidden;
}
footer .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
footer .subscribe-form button {
  position: absolute;
  right: 0;
  background: #1b6ec2;
  padding: 13px 20px;
  border: 1px solid #1b6ec2;
  top: 0;
}
footer .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
footer .copyright-area {
  background: #202020;
  padding: 25px 0;
}
footer .copyright-area .container {
  margin: 0 auto;
  width: 70%;
}
footer .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
footer .copyright-text p a {
  color: #1b6ec2;
}
footer .footer-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
footer .footer-menu li {
  display: inline;
}
@media (min-width: 800px) {
  footer .footer-menu li {
    margin-left: 20px;
  }
}
footer .footer-menu li:hover a {
  color: #1b6ec2;
}
footer .footer-menu li a {
  color: #878787;
  text-decoration: underline !important;
  font-size: 11px !important;
}

.service {
  --service-font-size:var(--clr-primary-400);
  --service-line-height:1.5em;
  --section-margin-block:4rem;
  margin-block: var(--section-margin-block);
  font-size: var(--service-font-size);
  line-height: var(--service-line-height);
  text-align: justify;
  gap: 2.5rem;
}
.service .service-cta h2 {
  text-align: center;
  margin-inline: auto;
  max-width: 30ch;
  font-size: var(--fs-700);
}
@media (min-width: 600px) {
  .service .service-cta h2 {
    font-size: var(--fs-800);
  }
}
@media (min-width: 800px) {
  .service .service-cta h2 {
    font-size: var(--fs-900);
  }
}
@media (min-width: 600px) {
  .service .service-cta.grid-group {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
}
.service .service-cta p {
  max-width: 90%;
  margin-inline: auto;
}
@media (min-width: 800px) {
  .service .service-cta p {
    max-width: 75%;
  }
}
.service .card {
  text-align: center;
  gap: 2rem;
}
.service .card > div {
  box-shadow: 0 0 15px 0 hsla(0, 5%, 89%, 0.403);
  border-radius: 10px;
}
.service .card > div > div {
  padding: 10px;
}
.service .card > div .card__content > div span {
  margin: 0;
  display: block;
  font-weight: var(--fw-bold);
}
.service .card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.service .card .location-icon {
  font-size: 3rem;
  color: var(--clr-primary-400);
}

.outreach-westlock {
  gap: 2rem;
}
@media (min-width: 900px) {
  .outreach-westlock.grid-group {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .outreach-westlock img {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (min-width: 900px) {
  .outreach-westlock div:nth-of-type(1) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
.outreach-westlock div:nth-of-type(1).grid-group {
  gap: 2rem;
}
.outreach-westlock div:nth-of-type(1).grid-group h3 {
  text-align: center;
}
.outreach-westlock div:nth-of-type(1).grid-group p {
  text-align: justify;
}
@media (min-width: 900px) {
  .outreach-westlock div:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.outreach-westlock div:nth-of-type(2).grid-group {
  justify-content: center;
}
.outreach-westlock div:nth-of-type(2) p {
  text-align: center;
}
.outreach-westlock div:nth-of-type(2) p .location-icon {
  display: block;
  margin-inline: auto;
  font-size: 4rem;
  color: var(--clr-primary-400);
}/*# sourceMappingURL=main.css.map */